<html>

<head>
    <title>Was ist schlimmer?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='awsm.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {% block style %} {% endblock %}
    </style>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/ranking">Ranking</a></li>
                <li><a href="/faq">F.A.Q.</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </main>
</body>

</html>