{% extends "base.html" %}

{% block style %}
h1 {
  text-align: center;
  width: 100%;
  padding-bottom: 3rem;
}
{% endblock %}


{% block content %}

<h1>Was passiert hier?</h1>

Wir haben in der WG das Spiel <a href="https://www.amazon.de/dp/B06XR31LLF/ref=cm_sw_r_tw_dp_U_x_P.NDEbZRQSHDM">Verdammt
  nochmal</a> gespielt.

<p>
  Im Prinzip geht es darum dass man eine Reihe von Karten mit "schlimmen Sachen" hat die auf einer Skala von 0 bis 100
  einen Elendsindex haben wie schlimm sie sind.
  Dann bekommt man eine Karte vorgelesen und muss schätzen in welche Lücke die Karte gehört. Dabei ist uns aufgefallen
  dass viele Karten unserer Meinung nach einen vollkommen falschen Wert haben und wir sie deutlich anders einordnen
  würden.
</p>

<p>
  Daher entstand nach ein paar Bier die Idee für diese Webseite um ein neues Ranking zu erstellen und zu schauen wie
  stark unsere Einschätzung von der, der Spieleredaktion abweicht. Also in 2 Stunden kurz ein bisschen Python und Flask
  zusammengedängelt und ab gehts :D
</p>

<p>
  Bei Fragen einfach an <a href="https://twitter.com/fleaz_">@fleaz_</a> melden.
</p>

<p>
  Den Sourcecode findet ihr auf <a href="https://github.com/com/fleaz/elendsindex">GitHub</a>.
</p>

{% endblock %}