{% extends "base.html" %}

{% block style %}
.card {
  background-color: lightgray;
  padding: 1rem;
  text-align: center;
  float: left;
  width: 17rem;
  margin: 0.5rem;
  height: 100px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-top: 1rem;
}

a:visited {
  color: black;
}

h1 {
  text-align: center;
  width: 100%;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .card {
    background-color: lightgray;
    padding: 1rem;
    text-align: center;
    float: left;
    width: 17rem;
    margin: 0.5rem;
    height: 100px;
    padding-top: 2rem;
  }
}

{% endblock %}

{% block content %}
<h1>Was ist schlimmer?</h1>
<section>
  <a href="/upvote/{{left.id}}">
    <div class="card">{{ left.description }}</div>
  </a>
  <a href="/upvote/{{right.id}}">
    <div class="card">{{ right.description }}</div>
  </a>
</section>
{% endblock %}